<div id="mainMenu">
    <div class="container">
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">Empleados</a></li>
                <li><a href="">Eventos</a></li>
                <li><a href="">Suministros y Productos</a></li>
                <li><a href=""><i class="icon-log-out"> </i></a></li>
            </ul>
        </nav>
    </div>
</div>